@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #6d3ff8;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5330bd;
  }

html, body{
    background-color: #201f1f;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

a{
    color: inherit;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}